.password {
  background-color: rgb(205, 222, 232);
  display: block;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid #e3b0cb;
}

.password:focus {
  border-color: #c08497;
  transform: translateY(-1px);
  outline: none;
}
