.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(109, 105, 105, 0.6);
}

.modal-window {
    position: absolute;
    top: calc((100vh - 320px)/2);
    left: calc((100vw - 320px)/2);
    width: 320px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.91);
    border: 3px solid rgba(0, 128, 0, 0.91);
    padding: 40px 30px;
    border-radius: 12px;
    box-sizing: border-box;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    background-color: white;
    border: 2px solid rgba(0, 128, 0, 0.91);
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}