.button {
    background-color: rgb(0, 121, 2);
    color: azure;
    display: block;  
    border: 2px solid #024603;     
    border-radius: 6px; 
    padding: 10px 20px;
}

.button:hover {
    background-color: rgb(1, 66, 1); 
}