.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    border: 2px solid black; 
    background-color: rgba(125, 171, 57, 0.566);  
    display: flex; 
    justify-content: center;  
    align-items: center; 
}