.search {
    background-color: rgb(173, 255, 226);
    display: block;
    margin-top: 10px;
    border-radius: 4px;
    border: 2px solid #0f7341; 
}

.search:focus {
    border-color: #53a472;
    outline: none;
}