.input {
  background-color: rgb(233, 216, 228);
  border: 2px solid #4e2246;
  border-radius: 4px;
  display: block;
  margin-top: 10px;
}

.input:focus {
  border-color: #bb46a0;
  outline: none;
}
