.image {
  background-color: rgb(224, 241, 161);
  display: block;
  margin-top: 10px;
  border-radius: 4px;
  padding: 8px;
  border: 2px solid #2e1f68;
  cursor: pointer;
}

.image:hover {
  background-color: rgb(137, 152, 84);
}
