.email {
    background-color: rgb(239, 234, 234);
    display: block;
    margin-top: 10px;
    border-radius: 4px;
    border: 2px solid #2e1f68; 
}

.email:hover {
    border-color: #4a4a9e;
    outline: none;
}

.email:focus {
    background-color: rgb(187, 179, 179);
    border-color: #0f449a;
    outline: none;
}

.email:invalid {
    border-color: #dc2626;
    outline: none;
}
