.container {
  border: 1px solid #000000;
  width: 300px;
  height: 300px;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: #fff380;
  border: 1px solid #fbb117;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  gap: 7px;
}

.content {
  margin-top: 20px;
  text-align: justify;
}
