.container {
    position: relative;
    border: 1px solid #000000 ;
    height: 180px;
    width: 120px;
    padding: 8px;
}

.avatar {
    width: 100%;
    height: 80px;
    background-color: #ebcb82;
    border: 1px solid #b17d02;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cartButton {
    margin-top: 5px;
    width: 100%;   
}

.favoriteButton {
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: #f17dd2;
    outline: none;
    border: 1px solid #a53888;
}